{% extends 'base.html' %}
{% load static %}
{% block content_sections %}
    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Book A Table
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form class="form_container" action="/bookTable/" method="post">
                        {% csrf_token %}
                        {{ form | safe }}
                        <div class="btn_box">
                            <button type="submit">
                                Book Now
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                        <div class="map_container ">
                            <div id="googleMap"></div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
{% endblock %}