<form class="form_container" action="/user/" method="post">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-3">
            {% for field in form.visible_fields %}
                {% if not forloop.counter|divisibleby:2 %}
                    {{ field }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% for field in form.visible_fields %}
                {% if forloop.counter|divisibleby:2 %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="btn_box">
                <button type="submit">
                    Sign Up Now 😎
                </button>
            </div>
        </div>
    </div>
</form>